body{
    background-color: #FFECEF;
}

hr{
    border-color: grey;
    border-style: dotted;
    border-width: thick 0px 0px;
    width: 20%;
}

h1{
    color: #66BFBF;
}

h3{
    color: #66BFBF;
}